<script lang="ts">
    export let title: string;
    export let source: string;
</script>

<div class="container">
    <h3>{title}</h3>
    <!-- svelte-ignore a11y-media-has-caption -->
    <video class="player" controls width="80%">
        <source src={source} type="video/mp4" />
    </video>
</div>

<style>
    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
</style>