<script lang="ts">
	import { enhance } from '$app/forms';
	import { qpOptions } from '$lib';
	import { goto } from '$app/navigation';

	let files: FileList;

	let qpRadioValue = 2;
	let enabledetection = false;
	let enablefilter = false;

	let input: HTMLInputElement;
	let submitText = 'Upload!';

	let disableUpload = true;
</script>

<main>
	<hgroup>
		<h1>
			<a href="/">VVC/AV1 Encoder</a>
		</h1>
	</hgroup>
	<hr style="width: 100%;" />
	<div class="panel">
		<form
			method="POST"
			use:enhance={() => {
				disableUpload = true;
				submitText = 'Wait...';

				const filename = files.item(0)?.name ?? '';
				const paramsObj = {
					filename: encodeURIComponent(filename),
					qpselect: qpRadioValue.toString(),
					detectionenable: enabledetection.toString(),
					filterenable: enablefilter.toString(),
				};

				const params = new URLSearchParams(paramsObj);

				return async () => {
					input.value = '';
					submitText = 'Upload!';
					// alert("This for now!");
					goto(`/process/${params}`);
				};
			}}
			enctype="multipart/form-data"
		>
			<input
				type="file"
				name="input_video"
				bind:files
				bind:this={input}
				accept="video/*"
				on:input={() => {
					disableUpload = false;
				}}
			/>
			<hr>
			<div class="radio">
				{#each qpOptions as option (option.value)}
					<label>
						<input
							type="radio"
							name="qp_option"
							value={option.value}
							bind:group={qpRadioValue}
						/>
		
						{option.qp.join('/')}
					</label>
				{/each}
			</div>
			<hr>
			<label>
				<input type="checkbox" bind:checked={enablefilter}>
				Filter chain
			</label>
			<hr>
			<label>
				<input type="checkbox" bind:checked={enabledetection}>
				YOLOv8 detection
			</label>
			<hr>
			<input type="submit" value={submitText} disabled={disableUpload} />
		</form>
	</div>
	<hr>
	<slot></slot>
	<!-- <button
		on:click={() => {
			console.log(input.value);
			console.log(files?.length);
		}}
		>debug
	</button> -->
</main>

<style>
	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 8px;
	}

	.panel {
		width: 480px;
	}

	@media only screen and (max-width: 600px) {
		.panel {
			width: 320px;
		}
	}

	form {
		display: flex;
		flex-direction: column;
		gap: 9px;
	}

	h1 a {
		text-decoration: none;
		color: black;
	}

	hr {
		width: 100%;
	}

	.radio {
		display: flex;
	}
</style>
