<script lang="ts">
	import { afterNavigate } from '$app/navigation';
	import { qpOptions } from '$lib';
	import Player from '$lib/Player.svelte';

	let parameter = "";

	let qpRadioValue = 2; // default

	let source = ['', ''];
	let wait = [false, false];
	let exct = [null, null];

	enum Format {
		VVC = 'vvc',
		AV1 = 'av1'
	}

	const check = async (filename: string, format: Format) => {
		try {
			const response = await fetch('/api/check', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({filename: filename}),
			});

			if (response.ok) {
				const fmt_idx = format === Format.VVC ? 0 : 1;

				const data = await response.json();

				wait[fmt_idx] = false;
				exct[fmt_idx] = data['execution_time'];
			} else {
				throw new Error("Video not found, yet.");
			}
		} catch (e) {
			console.error("error", e);
			setTimeout(check, 5000, filename, format);
		}
	};

	const process = async (parameter: string, format: Format, qpOption?: number) => {
		const format_index = format === Format.VVC ? 0 : 1;

		const params = new URLSearchParams(parameter);

		const filename = params.get("filename");
		const detectionenable = params.get("detectionenable") === "true";
		const filterenable = params.get("filterenable") === "true";

		const qpIndex = (qpOption === undefined) ? +(params.get("qpselect") as string) : qpOption;
		const qp = qpOptions[qpIndex].qp[format_index];

		const data = {
			filename: filename,
			format: format,
			qpselect: qp,
			filterenable: filterenable,
			detectionenable: detectionenable,
		};

		wait[format_index] = true;

		const response = await fetch('/api/process', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify(data)
		});

		const json = await response.json();

		source[format_index] = `${json['src']}`;

		await check(source[format_index], format);
	};

	afterNavigate(async (nav) => {
		parameter = (nav.to?.params as Record<string, string>)['slug'];

		process(parameter, Format.AV1);
		process(parameter, Format.VVC);
	});
</script>

<div class="qp-select">
	<h3>QP Select</h3>

	<div class="qp-radio" hidden={wait[0] && wait[1]}>
		{#each qpOptions as option (option.value)}
			<label>
				<input
					type="radio"
					name="option"
					value={option.value}
					bind:group={qpRadioValue}
					on:click={async () => {
						process(parameter, Format.AV1, option.value);
						process(parameter, Format.VVC, option.value);
					}}
				/>

				{option.qp.join('/')}
			</label>
		{/each}
	</div>
</div>

<a data-sveltekit-preload-data="tap" href="/graph/{parameter}">bit rate vs. PSNR graph</a>

<div class="players">
	{#if wait[0]}
		<p style="width: 100%;">Please wait... (Encoding VVC)</p>
	{:else}
		<div class="player">
			<Player source={`/${source[0]}`} title="VVC (via AV1)" />
			<p>in {exct[0]} ms</p>
		</div>
	{/if}

	{#if wait[1]}
		<p style="width: 100%;">Please wait... (Encoding AV1)</p>
	{:else}
		<div class="player">
			<Player source={`/${source[1]}`} title="AV1" />
			<p>in {exct[1]} ms</p>
		</div>
	{/if}
</div>

<style>
	.players {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		width: 100%;
		flex-grow: 0;
		text-align: center;
	}

	.player {
		width: 100%;
	}

	.qp-select {
		text-align: center;
	}

	@media only screen and (max-width: 600px) {
		.players {
			flex-direction: column;
		}
	}
</style>
