<script lang="ts">
	import { onMount } from 'svelte';
	import Chart, { type TooltipItem } from 'chart.js/auto';
	import type { PageData } from './$types';
	import type { GraphData } from '$lib';

	export let data: PageData;

	let chartCanvas: any;
	let filename: string | null;

	onMount(() => {
		console.log('onmount', data);

		filename = data.filename;

		const dataset = data.result
			.filter((arr: GraphData[]) => arr.length > 0)
			.map((arr: GraphData[]) => {
				return {
					data: arr.map((d) => {
						return {
							x: Math.log10(d.bitrate),
							y: d.psnr,
							z: d.qp,
							w: d.execution_time
						};
					}),
					label: `${arr[0].format} (${arr[0].filtered ? 'filtered' : 'clean'})`
				};
			});

		console.log('dataset', dataset);

		const ctx = chartCanvas.getContext('2d');
		const chart = new Chart(ctx, {
			type: 'line',
			data: {
				datasets: dataset
			},
			options: {
				scales: {
					x: {
						type: 'linear',
						position: 'bottom',
						title: {
							display: true,
							text: 'log10(kbps)'
						}
					},
					y: {
						title: {
							display: true,
							text: 'PSNR (dB)'
						}
					}
				},
				plugins: {
					tooltip: {
						callbacks: {
							label: function (context: TooltipItem<"line">) {
								const xValue = context.raw.x;
								const yValue = context.raw.y;
								const zValue = context.raw.z;
								const wValue = context.raw.w;
								return `bitrate: ${Math.pow(10, xValue).toFixed(3)} kbps | encoding time: ${wValue.toFixed(3)} ms | PSNR: ${yValue.toFixed(3)} | QP: ${zValue}`;
							}
						}
					}
				}
			}
		});
	});
</script>

<h1>Bitrate vs. PSNR</h1>
<p>{filename}</p>
<canvas bind:this={chartCanvas} id="chartCanvas"></canvas>
